@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  padding: 2rem;
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 4rem);
  align-items: space-between;
  justify-content: space-between;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.description {
  font-size: 1.5rem;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

li {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
}
